.user-data-container {
    width: 100%;

    label {
        font-size: .9rem;
        font-weight: 700;
        margin-bottom: .9rem;
    }

    p {
        font-size: .9rem;
        font-weight: 400;
        color: #606060;
        margin-bottom: 1.3rem;
    }

    .actions-container {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 5rem;

        button {
            background-color: #ff0000;
            border: none;
            padding: .8rem;
            font-weight: 700;
            color: #fff;
            border-radius: 1.2rem;
            margin: 0 0 0 1rem;
        }

        #edit-info {
            background-color: #3d348b;
        }
    }
}